# Question 1
What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [4]:

a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2
b()
b()
b()
a

6

The value displayed is 6 we first set the variable a=0, then set a function b which returned global variable (a) we then defined the function c in a ,which returned a +2 . When we first run the code it calls c(a), which is equal to 0, the retun then adds a 2 to it which is equal to 2 then adds another 2 which gives 4, when run again another 2 is added therefore a =6

# Question 2  
Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:

In [172]:
def file_length(file_name):
  try:
      infile = open(file_name,'r')
      contents = infile.read()
      infile.close()
      return len(contents)
  except FileNotFoundError:
      print(f"The file '{file_name}' was not found.")

file_length ('Filelength.txt')

123

# Question 3 //
Write a class named Marsupial that can be used as shown below: >>> m = Marsupial() >>> m.put_in_pouch('doll') >>> m.put_in_pouch('firetruck') >>> m.put_in_pouch('kitten') >>> m.pouch_contents() ['doll', 'firetruck', 'kitten']
Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial __init__ constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the __str__ operator so it behaves as shown below.

In [69]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch

class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.x}, {self.y}) with these items in my pouch: {self.pouch_contents()}"

# Example usage:
kangaroo = Kangaroo(0, 0)
kangaroo.put_in_pouch('doll')
kangaroo.put_in_pouch('firetruck')
kangaroo.put_in_pouch('kitten')

kangaroo.jump(1, 2)

print(kangaroo)

I am a Kangaroo located at coordinates (1, 2) with these items in my pouch: ['doll', 'firetruck', 'kitten']

# Question 4
Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:
x = { 𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛3𝑥+1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑
Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

In [173]:
def collatz(x):
  print(x, end=' ')
  if x == 1:
    return
  if x%2 == 0:
    collatz(x//2)
  else:
    collatz(3 * x + 1)

# Example usage:
x=int(input('input a positive integer '))
print(x)
if x <= 0:
  print("Please enter a positive integer.")
else:
  print("Collatz sequence:")
  collatz(x)

input a positive integer 5
5
Collatz sequence:
5 16 8 4 2 1

# Question 5
Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

In [29]:
def binary(n):
   if n==0:
    return 0
   else:
    return (n% 2 +10*binary(int(n//2)))
                
n= 19
binary(n)

10011

# Question 6
Implement a class named HeadingParser that can be used to parse an HTML document, and retrieve and print all the headings in the document. You should implement your class as a subclass of HTMLParser, defined in Standard Library module html.parser. When fed a string containing HTML code, your class should print the headings, one per line and in the order in which they appear in the document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your implementation using w3c.html.

In [206]:
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
  def __init__(self):
    super().__init__()
    self.record = False

  def handle_starttag(self, tag, attrs):
    if tag == "h1":
      print ("", end = '')
      self.record = True
    if tag == "h2":
      print (" ", end = '')
      self.record = True
    if tag == "h3":
      print("  ", end = '')
      self.record = True
    if tag == "h4":
      print("   ", end = '')
      self.record = True
    if tag == "h5":
      print("    ", end = '')
      self.record = True

  def handle_data(self, data):
    if self.record:
      print(data, end = '')


  def handle_endtag(self, tag):
    if tag in ["h1", "h2", "h3", "h4", "h5"]:
      print("")
      self.record = False


infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

# Question 7 
implement recursive function webdir() that takes as input: a URL (as a string) and non-negative integers depth and indent. Your function should visit every web page reachable from the starting URL web page in depth clicks or less, and print each web page's URL. As shown below, indentation, specified by indent, should be used to indicate the depth of a URL.

In [176]:
from bs4 import BeautifulSoup
import requests
from urllib.parse import urlparse

def webdir(url, depth, indent):
  print("\t"* indent + url)
  if depth == 0:
    return
  res_output = requests.get(url).text

  soup = BeautifulSoup(res_output, "html.parser")
  for link in soup.find_all('a', attrs={'href': True}):
    if "http" in link['href']:
      webdir(link['href'], depth-1, indent+1)
    else: #Account for pages that use relative naming (without domain)
      parsed_uri = urlparse(url)
      webdir(parsed_uri.scheme+"://"+parsed_uri.netloc+"/"+link['href'], depth-1, indent+1)

webdir("https://www.scrapethissite.com/pages/", 2, 0)

https://www.scrapethissite.com/pages/
	https://www.scrapethissite.com//
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
	https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//pages/simple/
		https://www.scrapethissite.com//pages/forms/
		https://www.scrapethissite.com//pages/ajax-javascript/
		https://www.scrapethissite.com//pages/frames/
		https://www.scrapethissite.com//pages/advanced/
	https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://gum.co/oLpqb?wanted=true
		https://gum.co/oLpqb?wanted=true
		https://gum.co/oLpqb?wanted=true
		https://gum.co/oLpqb/LASTCHANCE?wanted=true
	https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//robots.txt
	https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//lessons/
	https://www.scrapethissite.com//pages/simple/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//lessons/
		http://peric.github.io/GetCountries/
	https://www.scrapethissite.com//pages/forms/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//lessons/
		http://www.opensourcesports.com/hockey/
		https://www.scrapethissite.com//pages/forms/?page_num=1
		https://www.scrapethissite.com//pages/forms/?page_num=2
		https://www.scrapethissite.com//pages/forms/?page_num=3
		https://www.scrapethissite.com//pages/forms/?page_num=4
		https://www.scrapethissite.com//pages/forms/?page_num=5
		https://www.scrapethissite.com//pages/forms/?page_num=6
		https://www.scrapethissite.com//pages/forms/?page_num=7
		https://www.scrapethissite.com//pages/forms/?page_num=8
		https://www.scrapethissite.com//pages/forms/?page_num=9
		https://www.scrapethissite.com//pages/forms/?page_num=10
		https://www.scrapethissite.com//pages/forms/?page_num=11
		https://www.scrapethissite.com//pages/forms/?page_num=12
		https://www.scrapethissite.com//pages/forms/?page_num=13
		https://www.scrapethissite.com//pages/forms/?page_num=14
		https://www.scrapethissite.com//pages/forms/?page_num=15
		https://www.scrapethissite.com//pages/forms/?page_num=16
		https://www.scrapethissite.com//pages/forms/?page_num=17
		https://www.scrapethissite.com//pages/forms/?page_num=18
		https://www.scrapethissite.com//pages/forms/?page_num=19
		https://www.scrapethissite.com//pages/forms/?page_num=20
		https://www.scrapethissite.com//pages/forms/?page_num=21
		https://www.scrapethissite.com//pages/forms/?page_num=22
		https://www.scrapethissite.com//pages/forms/?page_num=23
		https://www.scrapethissite.com//pages/forms/?page_num=24
		https://www.scrapethissite.com//pages/forms/?page_num=1
	https://www.scrapethissite.com//pages/ajax-javascript/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//lessons/
		https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films
		https://www.scrapethissite.com/#
		https://www.scrapethissite.com/#
		https://www.scrapethissite.com/#
		https://www.scrapethissite.com/#
		https://www.scrapethissite.com/#
		https://www.scrapethissite.com/#
	https://www.scrapethissite.com//pages/frames/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//lessons/
		https://en.wikipedia.org/wiki/List_of_Testudines_families
	https://www.scrapethissite.com//pages/advanced/
		https://www.scrapethissite.com//
		https://www.scrapethissite.com//pages/
		https://www.scrapethissite.com//lessons/
		https://www.scrapethissite.com//faq/
		https://www.scrapethissite.com//login/
		https://www.scrapethissite.com//pages/advanced/?gotcha=headers
		https://www.scrapethissite.com//pages/advanced/?gotcha=login
		https://www.scrapethissite.com//pages/advanced/?gotcha=csrf

# Question 8
Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [96]:
!pip3 install ipython-sql
%load_ext sql
import sqlite3
%sql sqlite://

Requirement already satisfied: ipython-sql in c:\users\elsiedumashie\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython-sql) (8.12.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython-sql) (2.0.22)
Requirement already satisfied: sqlparse in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (2.0.1)
Requirement already satisfied: backcall in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: decorator in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.36)
Requirement already satisfied: pygments>=2.4.0 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: traitlets>=5 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.7.1)
Requirement already satisfied: colorama in c:\users\elsiedumashie\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\elsiedumashie\anaconda3\lib\site-packages (from prettytable->ipython-sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\elsiedumashie\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing in c:\users\elsiedumashie\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\elsiedumashie\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\elsiedumashie\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [121]:
%sql sqlite:///weatherdata.db
con= sqlite3.connect('weatherdata.db')
cur=con.cursor()

In [144]:
%%sql
DROP TABLE IF EXISTS weatherdata;
CREATE TABLE weatherdata(
     City TEXT,
     Country TEXT,
     Season TEXT,
     Temperature REAL,
     Rainfall REAL
);
-- Completing the data insertion
 INSERT INTO weatherdata VALUES
('Mumbai','India','Winter',24.8,5.9),
('Mumbai','India','Spring',28.4,16.2),
('Mumbai','India','Summer',27.9,5.9),
('Mumbai','India','Fall',27.6,5.9),
('London', 'United Kingdom','Winter',4.2,207.7),
('London', 'United Kingdom','Spring',8.3,169.6),
('London', 'United Kingdom','Summer',15.7,157.0),
('London', 'United Kingdom','Fall',10.4,218.5),
('Cairo','Egypt','Winter',13.6,16.5),
('Cairo','Egypt','Spring',20.7,6.5),
('Cairo','Egypt','Summer',27.7,0.1),
('Cairo','Egypt','Fall',22.2,4.5);

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.
Done.
12 rows affected.

[]

In [145]:
%%sql
SELECT Temperature FROM weatherdata;

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [148]:
%%sql
SELECT DISTINCT City FROM weatherdata;

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[('Mumbai',), ('London',), ('Cairo',)]

In [158]:

%%sql
SELECT * FROM weatherdata WHERE Country = 'India';

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 5.9),
 ('Mumbai', 'India', 'Fall', 27.6, 5.9)]

In [159]:
%%sql
SELECT * FROM weatherdata WHERE Season= 'Fall';

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[('Mumbai', 'India', 'Fall', 27.6, 5.9),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [203]:
%%sql
SELECT City,Country, Season from weatherdata where Rainfall > 200 and Rainfall < 400;

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[('London', 'United Kingdom', 'Winter'), ('London', 'United Kingdom', 'Fall')]

In [197]:
%%sql
Select City, Country from weatherdata WHERE Season ='Fall'AND Temperature > 20
ORDER BY Temperature asc;

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [198]:

%%sql

Select Sum(Rainfall) from weatherdata WHERE City ='Cairo';

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[(27.6,)]

In [193]:
%%sql
Select Season,Sum(Rainfall) from weatherdata 
GROUP BY Season;

   sqlite://
   sqlite:///weather.db
 * sqlite:///weatherdata.db
Done.

[('Fall', 228.9),
 ('Spring', 192.29999999999998),
 ('Summer', 163.0),
 ('Winter', 230.1)]

# Question 9
 Suppose list words is defined as follows:
 words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following lists:

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]] (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog'] (the list of words in list words containing 4 or more characters.)

In [59]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
converted_upperlist = [w.upper() for w in words]
print("a)",converted_upperlist)
converted_lowerlist = [x.lower() for x in words]
print("b)", converted_lowerlist)
converted_length_list = [len(i) for i in words]
print("c)",converted_length_list)
converted_list = [[w.upper(),w.lower(),len(w)] for w in words]
print("d)",converted_list)
converted_4_inlist = [word for word in words if len(word) >= 4]
print("e)",converted_4_inlist,"is the list of words containing 4 or more characters ")

a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3]
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
e) ['quick', 'brown', 'jumps', 'over', 'lazy'] is the list of words containing 4 or more characters